.container {
  border: 1px solid black;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.totalAmount {
  margin-top: auto;
  text-align: center;
}
